<div class="header-blue">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'catalog:home' %}">CATALOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'catalog:contact' %}">Contact</a></li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false" href="#">Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Logo design</a>
              <a class="dropdown-item" href="#">Banner design</a>
              <a class="dropdown-item" href="#">Content writing</a>
            </div>
          </li>
        </ul>
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light action-button ms-2" type="submit">Search</button>
        </form>
        <span>
          <a class="btn btn-light action-button ms-2" role="button" href="#">Log In</a>
        </span>
        <a class="btn btn-light action-button ms-2" role="button" href="#">Sign Up</a>
      </div>
    </div>
  </nav>
</div>
